.regform {

  width: 400px;

  border: 1px solid transparent;

  border-color: #dee2e6 #dee2e6;

  border-top-left-radius: .25rem;

  border-top-right-radius: .25rem;

  background-color: #efefef;

}




#nav-farmer,#nav-supplier {

  background-color: #fff;

}




button.nav-link {

  outline: none;

}