<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  href="registration.component.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">

<div class="mx-auto regform" style="width: 400px;">
  <nav>
    <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
      <button class="nav-link" [ngClass]="{'active': isFarmer}" id="nav-farmer-tab" data-bs-toggle="tab"
        data-bs-target="#nav-farmer" type="button" role="tab" aria-controls="nav-farmer" aria-selected="true"
        (click)="setFarmer()">Farmer</button>
      <button class="nav-link" [ngClass]="{'active': !isFarmer}" id="nav-supplier-tab" data-bs-toggle="tab"
        data-bs-target="#nav-supplier" type="button" role="tab" aria-controls="nav-supplier" aria-selected="false"
        (click)="setSupplier()">Supplier</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-farmer" role="tabpanel" aria-labelledby="nav-farmer-tab">
      
      <form #form="ngForm" (ngSubmit)="registerFarmer()" class="mx-auto w-75" *ngIf="isFarmer">
        <div class="form-group">
          <label>UserName<span class="text-danger">*</span> </label>
          <input type="text" name="custuname" [(ngModel)]="addFarmerData.credential.userName" required #custuname="ngModel"
            class="form-control" />
        </div>
        <div class="form-group">
          <label>Password<span class="text-danger">*</span></label>
          <input type="password" name="custpass" [(ngModel)]="addFarmerData.credential.password" required minlength="6"
            #custpass="ngModel" class="form-control" />
        </div>
        <div class="form-group">
          <label>Farmer Name<span class="text-danger">*</span></label>
          <input type="text" name="custfname" [(ngModel)]="addFarmerData.farmerName" required minlength="3"
            #custfname="ngModel" class="form-control" />
        </div>
        <div class="form-group">
          <label>Farmer Mobile<span class="text-danger">*</span></label>
          <input type="text" required pattern="[0-9]{10}" name="custmobile" [(ngModel)]="addFarmerData.farmerMobile"
            #custmobile="ngModel" class="form-control" />
        </div>
        <div class="form-group">
          <label>City<span class="text-danger">*</span></label>
          <input type="text" name="custCity" [(ngModel)]="addFarmerData.farmerLocation" required minlength="3"
            #city="ngModel" class="form-control" />
        </div>
        <div class="text-center">
          <button type="submit" [disabled]="!form.valid" class="mt-2 btn btn-success mx-auto" >Register Farmer</button> 
        </div>
      </form>
    </div>
    
    
    
    <div class="tab-pane fade show active" id="nav-supplier" role="tabpanel" aria-labelledby="nav-supplier-tab">
      
      <form #form="ngForm" (ngSubmit)="registerSupplier()" class="mx-auto w-75" *ngIf="!isFarmer">
        <div class="form-group">
          <label>UserName<span class="text-danger">*</span> </label>
          <input type="text" name="custuname" [(ngModel)]="addSupplierData.credential.userName" required #custuname="ngModel"
            class="form-control" />
        </div>
        <div class="form-group">
          <label>Password<span class="text-danger">*</span></label>
          <input type="password" name="custpass" [(ngModel)]="addSupplierData.credential.password" required minlength="6"
            #custpass="ngModel" class="form-control" />
        </div>
        <div class="form-group">
          <label>Supplier Name<span class="text-danger">*</span></label>
          <input type="text" name="custfname" [(ngModel)]="addSupplierData.supplierName" required minlength="3"
            #custfname="ngModel" class="form-control" />
        </div>
        <div class="form-group">
          <label>Supplier Mobile<span class="text-danger">*</span></label>
          <input type="text" required pattern="[0-9]{10}" name="custmobile" [(ngModel)]="addSupplierData.supplierMobile"
            #custmobile="ngModel" class="form-control" />
        </div>
        <div class="form-group">
          <label>City<span class="text-danger">*</span></label>
          <input type="text" name="custCity" [(ngModel)]="addSupplierData.supplierLocation" required minlength="3"
            #city="ngModel" class="form-control" />
        </div>
        <div class="text-center">
          <button type="submit" [disabled]="!form.valid" class="mt-2 btn btn-success mx-auto" >Register Supplier</button> 
        </div>
      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>